.heading-container {
  position: absolute;
  top: 0px;
  left: 100px;
  opacity: 0; /* hidden at start */
  transform: translateY(30px); 
  animation: fadeUp 2.5s ease-out forwards;
}

/* Animation keyframes */
@keyframes fadeUp {
  0% {
    opacity: 0;
   
  }
  100% {
    opacity: 1;
    
  }
}


.heading-line1,
.heading-line2 {
  font-size: 2.6rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "Comic Neue", cursive;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  text-shadow: 0 0 16px #ffd166;
  
}

  

.heading-line1 {
  margin-bottom: 10px;}
.heading-line1:hover{
  cursor:pointer;
  text-shadow:0 0 40px #ffd166;

}
.heading-line2:hover{
  cursor:pointer;
  text-shadow:0 0 40px #ffd166;

}


