.global-navbar .top-nav {
  position: fixed;
  top: 8px;
  right: 30px;
  z-index: 2000;
}

.global-navbar .top-nav ul {
  display: flex;
  gap: 22px;
  list-style: none;
}

.global-navbar .top-nav ul li a {
  text-decoration: none;
  color: rgb(64, 120, 66);
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease;
  text-shadow: 0px 0px 6px rgba(64, 120, 66, 0.4);
}

.global-navbar .top-nav ul li a:hover {
  color: rgb(90, 200, 90);
  text-shadow:
    0px 0px 10px rgba(90, 200, 90, 0.9),
    0px 0px 18px rgba(90, 200, 90, 0.7);
  transform: scale(1.08);
}
